<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<ul><li><a href="javascript:;" onclick="toMenu('/index')" title="首页"><i class="Hui-iconfont">&#xe616;</i> 首页</a></li></ul>
		<dl id="menu-task">
			<dt class="selected"><i class="Hui-iconfont">&#xe616;</i> 任务管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="javascript:;" onclick="toMenu('/task/search')" title="任务列表">任务列表</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-admin">
			<dt class="selected"><i class="Hui-iconfont">&#xe62d;</i>组织管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="javascript:;" onclick="toMenu('/user/list')" title="人员列表">人员列表</a></li>
				</ul>
			</dd>
		</dl>
	</div>
	<form method="post" id="menuForm" name="menuForm">
		<input name="token" type="hidden" value="${token}"/>
	</form>
	<script type="text/javascript">
		//跳转菜单
		function toMenu(url){
			$("#menuForm").attr("action","${ctxPath}"+url);
			$("#menuForm").submit();
		}
	</script>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
