<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<!--_footer 作为公共模版分离出去-->
<%include("/public/meta.html"){}%>
<!--_footer 作为公共模版分离出去-->
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal" id="form-task-analyse">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>任务编号：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text disabled" value="${task.code!}" placeholder="" id="code" name="code">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">任务类型：</label>
			<div class="formControls col-xs-8 col-sm-9"> 
				<span class="select-box">
					<select id="type" name="type" class="select disabled" selectValue="${task.type!}">
						<option value="bug">bug</option>
						<option value="需求">需求</option>
						<option value="任务">任务</option>	
					</select>
				</span> 
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">优先级：</label>
			<div class="formControls col-xs-8 col-sm-9"> 
				<span class="select-box">
					<select name="priority" class="select" selectValue="${task.priority!}">
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>	
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
					</select>
				</span> 
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">影响分支：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="checkbox" name="branch" value="所有">所有
				<input type="checkbox" name="branch" value="主线">主线
				<input type="checkbox" name="branch" value="二部">二部
				<input type="checkbox" name="branch" value="23">23
				<input type="checkbox" name="branch" value="206">206
				<input type="checkbox" name="branch" value="25">25
				<input type="checkbox" name="branch" value="203">203
				<input type="checkbox" name="branch" value="8511">8511
				<input type="hidden" class="checkboxSelect" name="branchSelect" inputName="branch" value="${task.branch!}">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">说明：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="explain" id="explain" cols="" rows="" class="textarea disabled"  placeholder="描述问题……" >${task.explain!}</textarea>
				
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">影响域：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="influence" id="influence" cols="" rows="" class="textarea"  placeholder="描述影响域……" >${task.influence!}</textarea>
				
			</div>
		</div>
		<%
			if(isNotEmpty(task.modifierNote)&& task.modifierNote!=''){
			
		%>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">更改说明：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="modifierNote" id="modifierNote" cols="" rows="" class="textarea disabled"  placeholder="描述更改说明……" >${task.modifierNote!}</textarea>
				
			</div>
		</div>
		<%
			}
		%>
		<%
			if(isNotEmpty(task.verifyNote)&& task.verifyNote!=''){
			
		%>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">验证说明：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="verifyNote" id="verifyNote" cols="" rows="" class="textarea disabled"  placeholder="描述验证说明……" >${task.verifyNote!}</textarea>
				
			</div>
		</div>
		<%
			}
		%>
		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">分析人：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="${task.analyst!}" placeholder="" id="analyst" name="analyst" readonly="readonly" onclick="selectUser('analystId','analyst')" >
				<input type="hidden" class="input-text" value="${task.analystId!}" placeholder="" id="analystId" name="analystId">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">修改人：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="${task.modifier!}" placeholder="" id="modifier" name="modifier" readonly="readonly" onclick="selectUser('modifierId','modifier')" >
				<input type="hidden" class="input-text" value="${task.modifierId!}" placeholder="" id="modifierId" name="modifierId">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">验证人：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="${task.verify!}" placeholder="" id="verify" name="verify" readonly="readonly" onclick="selectUser('verifyId','verify')" >
				<input type="hidden" class="input-text" value="${task.verifyId!}" placeholder="" id="verifyId" name="verifyId">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">计划完成时间：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" readonly="readonly" value="${task.willFinishTime,'yyyy-MM-dd'}" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" id="willFinishTime" name="willFinishTime" class="input-text Wdate">
			</div>
		</div>
		
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button name="save_analyse" saveRecord="true" class="btn btn-secondary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存分析</button>
				<button name="save_modifier" class="btn btn-primary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存解决</button>
				<button name="save_verify" class="btn btn-primary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存验证</button>
				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
				<input name="id" id="id" value="${task.id!}" type="hidden">
				<input name="project" id="project" value="${task.project!}" type="hidden">
				<input name="state" id="state" value="草稿" type="hidden">
				<input name="createTime" id="createTime" value="${task.createTime!,'yyyy-MM-dd HH:mm:ss'}" type="hidden">
				<input name="creator" id="creator" value="${session["user"].userName!}" type="hidden">
				<input name="creatorId" id="creatorId" value="${session["user"].userId!}" type="hidden">
				<input name="saveRecord" id="saveRecord" value="false" type="hidden">
			</div>
		</div>
	</form>
	<div  style="margin-top: 5px">
	<table class="table table-border table-bordered table-bg table-hover table-sort table-txt">
		<thead>
			<tr  class="text-c">
				<th>序号</th>
			    <th>创建者</th>
			    <th>创建时间</th>
			    <th>计划完成时间</th>
			    <th>优先级</th>
			    <th>影响分支</th>
			    <th>状态</th>
			</tr>
		</thead>
		<tbody>
		<% for(task in recordList){%>
			<tr  class="text-c">
                <td>${taskLP.index}</td>
                <td>${task.creator}</td>
                <td>${task.createTime,"yyyy-MM-dd HH:mm:ss"}</td>
                <td>${task.willFinishTime,"yyyy-MM-dd"}</td>
                <td>${task.priority}</td>
                <td>${task.branch}</td>
                <td>${task.state}</td>
            </tr>
		<%}%>
		</tbody>
	</table>
	</div>
</article>

<!--_footer 作为公共模版分离出去-->
<%include("/public/footerJS.html"){}%>
<!--/_footer /作为公共模版分离出去-->
<!-- 公用的选择人员页面 -->
<%include("/user/select.html"){}%>

<!--请在下方写此页面业务相关的脚本-->
<%include("/task/taskJs.html"){}%>
<script type="text/javascript">
function save(){
	$.ajax({
		type: "POST",
		url: ctxPath+"/task/updateMyTaskJson",
		async:true,
		data: $("#form-task-analyse").serializeArray(),
		dataType:"json",
		contentType:"application/x-www-form-urlencoded",
 	   	success: function(msg){
			console.log(msg);
			parent.location.replace(ctxPath+"/task/myTaskList");
			layer_close();
 	   	},error:function(data,type, err){
 	   		console.log("message："+JSON.parse(data.responseText).message);
			console.log("ajax错误类型："+type);
			console.log(err);
 	   	}
	});
}
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>